* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/OpenSans-Bold.woff");
}



.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
}

.header-menu {
  display: flex;
}

.menu-lists {
  display: flex;
}

.menu-list-item {
  list-style-type: none;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  font-family: open-sans-r, sans-serif;
  text-transform: uppercase;
}
.menu-link:hover{
  text-shadow: 0 0 1px #efeaea;
  text-decoration: underline;
}
.menu-button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button:before, .menu-button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.welcome-title {
  font-family: open-sans-b, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}


.trends {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trends-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.trends-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  border-bottom-style: solid;
  color: #e1d9bd;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.trends-articles {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trend {
  position: relative;
  display: flex;
  align-items: flex-end;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-first {
  background-image: url("../images/trend1.jpg");
}

.trend-second {
  background-image: url("../images/trend2.jpg");
}

.trend-third {
  background-image: url("../images/trend3.jpg");
}

.trend-fourth {
  background-image: url("../images/trend4.jpg");
}

.trend-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #877342;
}

.trend-button-list {
  display: flex;
}

.trend-button-item {
  list-style-type: none;
}

.trend-button-link {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #8e7b4b;
}
.trend-button-link:hover {
  text-shadow: 0 0 1px #b59f5b;
  text-decoration: underline;
}
.trend-article-title>a {
  display: inline-block;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.trend-article-title>a:hover {
  color: #b59f5b;
  text-decoration: none;
}

.main-parts {
  width: 100%;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
}

.article-header {
  text-align: left;
}

.button-list {
  display: flex;
}

.button-list-item {
  list-style-type: none;
}
.button-list-item:hover {
  text-shadow: 0 0 1px #b59f5b;
  text-decoration: underline;
}
.button-link {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
}

.article-title {
  display: inline-block;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.article-title:hover {
  color: #b59f5b;
  text-decoration: none;
}
.data {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  color: #888888;
}

.author {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
}

.short-text {
  font-family: open-sans-r, sans-serif;
}

.aside-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.aside-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  border-bottom-style: solid;
  color: #e1d9bd;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.aside-article {
  display: flex;
  vertical-align: top;
}

.aside-text {
  display: block;
}

.aside-data {
  display: block;
  font-family: open-sans-r, sans-serif;
  font-weight: normal;
  color: #a2a2a2;
}

.aside-article-title {
  display: block;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.aside-article-title:hover {
  color: #b59f5b;
  text-decoration: none;
}
.search-label {
  display: flex;
  justify-content: space-between;
}

.search-field {
  box-sizing: border-box;
  width: 225px;
  border-style: none;
  font-family: open-sans-r, sans-serif;
  color: #a2a4a3;
  background-color: #f4f7f6;
}
.search-field:focus {
  outline: 1px solid #b59f5b;
}
.search-button {
  width: 50px;
  height: 50px;
  border: none;

  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}
.search-button:hover {
  background-color:black;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.email {
  display: block;
}

.email-field {
  box-sizing: border-box;
  width: 270px;
  border-style: none;
  font-family: open-sans-r, sans-serif;
  color: #939594;
  background-color: #f4f7f6;
}
.email-field:focus {
  outline: 1px solid #b59f5b;
}
.email-button {
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-style: none;
  background-color: #b59f5b;
  text-align: center;
}
.email-button :hover {
  background-color:black;
 }
.teg-list {
  display: flex;
  flex-wrap: wrap;
}

.teg-list-item {
  list-style-type: none;
  border: 2px solid #eeeeee;
}
.teg-list-item:hover {
  border: 3px solid #b59f5b;
}


.teg-link {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.theme-list-item {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

.theme-link {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #000000;
  text-decoration: none;
}
  .theme-link:hover {
  color: #b59f5b;
  text-decoration: none;
}
.number {
  display: inline-block;
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  color: #cabb92;
  vertical-align: top;
}


.products {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.products-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.products-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  border-bottom-style: solid;
  color: #e1d9bd;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.products-articles {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.product-article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid #d3c59d;
}

.product-article-title>a {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.product-description {
  display: inline-block;
  font-family: open-sans-r, sans-serif;
  color: #000000;
}

.product-description>a {
  text-decoration: none;
  color: #cabb92;
}

.price-and-shop {
  display: flex;
  justify-content: space-between;
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
}

.price {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
} 

.old-price {
  height: 14px;
  text-decoration: line-through;
}

.new-price {
  height: 20px;
}

.to-shop {
  width: 140px;
  height: 50px;
  border-style: none;
  background-color: #b59f5b;
}

.to-shop>a {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-social {
  background-color: #f4f7f6;
  height: 80px;
  margin: 58px 0;
  padding: 25px;
  box-sizing: border-box;
}

.social-list {
  padding: 0;
  margin: 0;
}

.social-item {
  display: inline-block;
}

.social-item:nth-child(n + 2) {
  margin-left: 25px;
}

.social-link {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  display: inline-block;
}
.social-link :hover {
  color: #b59f5b;
  text-decoration: none;

}

.social-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-link-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
}





.popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.popup {
  display: flex;
  flex-direction: column;
  position: relative;

  max-width: 390px;
  padding: 55px 35px;
  margin: auto;

  background-color: #ffffff;
}

.popup-button-close {
  display: block;
  position: absolute;
 
  width: 20px;
  height: 20px;
  border: none;
  top: -30px;
  right: 0;

  background-color: rgba(0, 0, 0, 0);
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.popup-title {
  align-self: center;

  font-family: open-sans-b, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  border-bottom-style: solid;
  color: #e1d9bd;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.popup-form-hint {
  display: block;
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
  font-weight: 700px;
  margin: 40px 0 15px;
}

.popup-select {
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 50px;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 10px center;
}

.popup-select, .popup-textarea {
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
  padding: 18px;
  border: none;
  background-color: #f4f7f6;

  font-family: open-sans-r, sans-serif;
  font-size: 13px;
  color: #a2a4a3;
}

.popup-textarea {
  height: 130px;
}

.popup-select:focus, .popup-textarea:focus {
  outline: 2px solid #b59f5b;
  outline-offset: 2px;
}

.popup-radio-group {
  display: inline-block;
  position: relative;
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
}

.popup-radio-group:nth-of-type(n + 1) {
  margin-right: 15px;
}

.popup-radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;;
}

.popup-radio-text::before {
  background-image: url("../svg/form-empty-circle.svg");
}

.popup-radio:checked ~ .popup-radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.popup-radio-text::before, .popup-radio:checked ~ .popup-radio-text::before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.popup-button {
  width: 100%;
  height: 50px;
  margin-top: 25px;

  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
  text-align: center;
}


@media (min-width: 1200px) {

  .header {
    width: 100%;
    padding-top: 30px;
    padding-bottom:  140px;
    
    background-image: url("../images/banner-bg.jpg");
  }

  .menu {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-logo {
    width: 180px;
  }
  
  .menu-button {
    display: none;
  }

  .menu-link {
    font-size: 13px;
  }
  
  .menu-list-item {
    margin-left: 35px;
  }
  
  .welcome-title {
    font-size: 45px;
    line-height: 1.55;
    margin-top: 120px;
    width: 720px;
  }


  .trends {
    padding-top: 65px;
  }

  .trends-title {
    font-size: 20px;
  }

  .trends-articles {
    margin-top: 30px;
  }

  .trend {
    width: calc(25% - 3px);
    min-height: 270px;
    padding: 15px 20px;
    margin-left: 4px;
  }

  .trend:first-child {
    margin-left: 0;
  }

  .trend-article {
    padding: 35px;
  }

  .trend-button-item {
    margin-right: 14px;
  }

  .trend-button-link {
    font-size: 14px;
  }

  .trend-article-title {
    font-size: 20px;
    line-height: 1.2;
  }


  .main-parts {
    width: 1200px;
    padding: 65px 15px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }


  .main {
    width: 780px;
  }

  .article {
    margin-bottom: 60px;
  }

  .article:last-child {
    margin-bottom: 0;
  }
  
  .picture {
    width: 381px;
    margin-right: 24px;
  }

  .text {
    margin-left: 6px;
  }

  .button-list {
    margin-bottom: 6px;
  }

  .button-list-item {
    margin-right: 16px;
  }

  .button-link {
    font-size: 14px;
  }

  .article-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .data-author {
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .data {
    font-size: 12px;
  }

  .author {
    margin-left: 9px;
    font-size: 12px;
  }

  .short-text {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
  }


  .aside {
    width: 275px;
  }

  .aside-title {
    font-size: 14px;
  }

  .aside-article {
    margin-bottom: 21px;
  }

  .aside-article:first-child {
    margin-top: 26px;
  }
  
  .aside-picture {
    width: 73px;
    margin-right: 18px;
  }

  .aside-data {
    font-size: 12px;
  }

  .aside-article-title {
    font-size: 14px;
    line-height: 1.3;
  }

  .search-form {
    margin: 60px 0;
  }
  .search-button :hover {
    background-color:black;
  }
  .search-field {
    padding: 14px 20px;
    font-size: 14px;
  }

  .email {
    margin-bottom: 55px;
  }

  .email-field {
    padding: 14px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .email-button {
    width: 270px;
    height: 50px;
  }
  .email-button :hover {
    background-color:black;
  
  }
  .teg-list {
    margin-top: 25px;
  }

  .teg-list-item {
    padding: 4px 14px;
    margin: 0 9px 6px 0;
  }
  
  .theme-list {
    margin-top: 10px;
  }
  
  .teg-link {
    font-size: 12px;
  }

  .tegs {
    margin-bottom: 54px;
  }

  .theme-list-item {
    padding: 12px 0;
  }

  .theme-link {
    font-size: 14px;
  }

  .number {
    font-size: 11px;
  }


  .products {
    width: 1200px;
    padding: 0 15px 65px;
  }

  .products-title {
    font-size: 20px;
  }

  .products-articles {
    justify-content: space-between;
    margin-top: 30px;
  }

  .product {
    width: 340px;
  }

  .product-picture {
    padding: 0 22px;
  }
  
  .product-article {
    padding: 0 22px 22px;
    margin-top: -30px;
  }

  .product-article-title {
    padding: 55px 0 0;
    font-size: 20px;
  }

  .product-description {
    padding: 5px 0;
    font-size: 15px;
  }

  .price {
    width: 100%;
  }

  .old-price {
    font-size: 14px;
    height: 14px;
  }

  .new-price {
    font-size: 20px;
  }

 
  .footer {
    width: 1200px;
    margin-top: 10px;
  }

  .socials-list-item {
    margin: 30px 15px;
  }

  .footer-write {
    margin-top: 70px;
  }

}



@media (min-width: 641px) and (max-width: 1199px) {

  .header {
    padding: 50px 35px 125px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header-logo {
    width: 160px;
  }

  .menu-lists {
    display: none;
  }
  
  .welcome-title {
    font-size: 40px;
    line-height: 1.55;
    margin: 100px 45px 0;
    
  }


  .trends {
    padding-top: 65px;
  }

  .trends-title {
    font-size: 20px;
  }

  .trends-articles {
    margin-top: 30px;
  }

  .trend {
    min-height: 250px;
    padding: 15px 20px;
    margin-bottom: 3px;
  }

  .trend:first-child {
    margin-left: 0;
  }

  .trend-article {
    padding: 35px;
  }

  .trend-button-item {
    margin-right: 14px;
  }

  .trend-button-link {
    font-size: 14px;
  }

  .trend-article-title {
    font-size: 20px;
    line-height: 1.2;
  }


  .main-parts {
    justify-content: space-between;
    width: 100%;
    padding: 50px 35px;
  }


  .main {
    width: calc(100% - 310px);
    margin-right: 35px;
  }

  .article {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 25px;
    border-bottom: 2px solid #eeeeee;
  }

  .article:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
  
  .article:first-child {
    margin-top: 0;
  }
  
  .picture {
    width: 100%;
    margin-right: 24px;
    margin-bottom: 20px;
  }

  .text {
    margin-left: 6px;
  }

  .button-list {
    margin-bottom: 6px;
  }

  .button-list-item {
    margin-right: 16px;
  }

  .button-link {
    font-size: 14px;
  }

  .article-title {
    font-size: 17px;
    line-height: 1.2;
  }

  .data-author {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .data {
    font-size: 12px;
  }

  .author {
    margin-left: 9px;
    font-size: 12px;
  }

  .short-text {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
  } 


  .aside {
    width: 275px;
  }

  .aside-title {
    font-size: 14px;
  }

  .aside-article {
    margin-bottom: 21px;
  }

  .aside-article:first-child {
    margin-top: 26px;
  }
  
  .aside-picture {
    width: 73px;
    margin-right: 18px;
  }

  .aside-data {
    font-size: 12px;
  }

  .aside-article-title {
    font-size: 14px;
    line-height: 1.3;
  }

  .search-form {
    margin: 60px 0;
  }
 .search-button :hover {
    background-color:black;
  }
  .search-field {
    padding: 14px 20px;
    font-size: 14px;
  }

  .email {
    margin-bottom: 60px;
  }

  .email-field {
    padding: 14px 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .email-button {
    width: 100%;
    height: 50px;
  }
  .email-button :hover {
    background-color:black;
  }
  .teg-list {
    margin-top: 25px;
  }

  .teg-list-item {
    padding: 4px 14px;
    margin: 0 9px 6px 0;
  }
  
  .theme-list {
    margin-top: 10px;
  }
  
  .teg-link {
    font-size: 12px;
  }

  .tegs {
    margin-bottom: 54px;
  }

  .theme-list-item {
    padding: 12px 0;
  }

  .theme-link {
    font-size: 14px;
  }

  .number {
    font-size: 11px;
  }


  .products {
    width: 100%;
    padding: 0 35px 50px;
  }

  .products-title {
    font-size: 18px;
  }

  .products-articles {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .product {
    width: calc(50% - 10px);
    margin-top: 20px;
  }

  .product:nth-child(odd) {
    margin-right: auto;
  }

  .product-picture {
    width: 100%;
    padding: 0 22px;
  }

  .product-picture>source, .product-picture>img {
    width: 100%;
    flex: auto;
  }

  .product-article {
    width: 100%;
    padding: 0 22px 22px;
    margin-top: -30px;
  }

  .product-article-title {
    padding: 55px 0 0;
    font-size: 17px;
  }

  .product-description {
    width: 100%;
    flex: auto;
    padding: 5px 0;
    font-size: 15px;
  }

  .price {
    width: 100%;
  }

  .old-price {
    font-size: 14px;
    height: 14px;
  }

  .new-price {
    font-size: 20px;
  }

 
  .footer {
    width: 100%;
    margin-top: 10px;
  }

  .socials-list-item {
    margin: 30px 15px;
  }
  .social-item:hover
  .footer-write {
    margin-top: 70px;
  }

}



@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

  .trend {
    width: calc(25% - 3px);
    margin-left: 4px;
  }

  .trend:first-child {
    margin-left: 0;
  }

}




@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {

  .trends-articles {
    flex-wrap: wrap;
  }

  .trend {
    width: calc(50% - 2px);
  }

  .trend:nth-child(n - 3) {
    margin-top: 3px;
  }

  .trend:nth-child(even) {
    margin-left: 4px;
  }

}



@media (max-width: 640px) {

  .header {
    padding: 30px 15px 220px;
    background-image: url("../images/banner-mobile.jpg");
  }

  .menu {
    flex-direction: column;
  }

  .logo-link {
    width: 100%;
    max-width: 270px;
    margin-top: 175px;
    margin-bottom: 45px;
  }

  .header-logo {
    width: 100%;
  }

  .header-menu {
    order: -1;
    align-self: flex-end;
  }

  .menu-lists {
    display: none;
  }
  
  .welcome-title {
    font-size: 26px;
    line-height: 1.55;
    margin-top: 40px;
    padding: 0 30px;
   
  }


  .trends {
    padding-top: 44px;
  }

  .trends-title {
    font-size: 16px;
  }

  .trends-articles {
    margin-top: 24px;
  }

  .trend {
    min-height: 250px;
    padding: 15px 15px;
  }

  .trend-article {
    padding: 30px 15px;
  }

  .trend-button-item {
    margin-right: 18px;
  }

  .trend-button-link {
    font-size: 14px;
  }

  .trend-article-title {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 15px;
  }


  .main-parts {
    width: 100%;
    padding: 45px 15px;
    flex-direction: column;
  }


  .main {
    width: 100%;
  }

  .article {
    flex-direction: column;
    padding: 35px 0 25px;
    border-bottom: 2px solid #eeeeee;
  }

  .article:first-child {
    padding-top: 0;
  }

  .article:last-child {
    margin-bottom: 45px;
  }

  .picture {
    width: 100%;
    margin-right: 24px;
    margin-bottom: 15px;
  }

  .text {
    margin-left: 6px;
  }

  .button-list {
    margin-bottom: 6px;
  }

  .button-list-item {
    margin-right: 16px;
  }

  .button-link {
    font-size: 14px;
  }

  .article-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .data-author {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .data {
    font-size: 12px;
  }

  .author {
    margin-left: 9px;
    font-size: 12px;
  }

  .short-text {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
  }


  .aside {
    width: 100%;
  }

  .aside-title {
    font-size: 14px;
  }

  .aside-article {
    margin-bottom: 21px;
  }

  .aside-article:first-child {
    margin-top: 26px;
  }
  
  .aside-picture {
    width: 73px;
    margin-right: 18px;
  }

  .aside-data {
    font-size: 12px;
  }

  .aside-article-title {
    font-size: 14px;
    line-height: 1.3;
  }

  .search-form {
    margin: 60px 0;
  }
  .search-button:hover{
    background-color: black; 
  }
  .search-field {
    width: calc(100% - 50px);
    padding: 14px 20px;
    font-size: 14px;
  }

  .email {
    flex-direction: column;
    margin-bottom: 55px;
  }

  .email-field {
    width: 100%;
    height: 50px;
    padding: 14px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .email-button {
    width: 100%;
    height: 50px;
  } 
  .email-button :hover {
    background-color:black;
  }
  .teg-list {
    margin-top: 25px;
  }

  .teg-list-item {
    padding: 4px 14px;
    margin: 0 9px 6px 0;
  }
  
  .theme-list {
    margin-top: 10px;
  }
  
  .teg-link {
    font-size: 12px;
  }

  .tegs {
    margin-bottom: 54px;
  }

  .theme-list-item {
    padding: 12px 0;
  }

  .theme-link {
    font-size: 14px;
  }

  .number {
    font-size: 11px;
  }


  .products {
    width: 100%;
    padding: 0 15px 50px;
  }

  .products-title {
    font-size: 20px;
  }

  .products-articles {
    flex-direction: column;
    margin-top: 30px;
  }

  .product {
    width: 100%;
  }

  .product-picture {
    padding: 26px 26px 0;
  }

  .product-picture>source, .product-picture>img {
    width: 100%;
    flex: auto;
  }

  .product-article {
    padding: 0 22px 22px;
    margin-top: -30px;
  }

  .product-article-title {
    padding: 55px 0 0;
    font-size: 20px;
  }

  .product-description {
    padding: 5px 0;
    font-size: 15px;
  }

  .price {
    width: 80px;
  }

  .old-price {
    font-size: 14px;
    height: 14px;
  }

  .new-price {
    font-size: 20px;
  }

 
  .footer {
    width: 100%;
    margin-top: 10px;
  }

  .socials-list-item {
    margin: 30px 15px;
  }

  .footer-write {
    margin-top: 70px;
  }

}


@media (max-width: 640px) and (orientation: landscape) {

  .trends-articles {
    flex-wrap: wrap;
  }

  .trend {
    width: calc(50% - 2px);
  }

  .trend:nth-child(n - 3) {
    margin-top: 3px;
  }

  .trend:nth-child(even) {
    margin-left: 4px;
  }


  .products-articles {
    flex-wrap: wrap;
    justify-content: space-between;
  }

}



@media (max-width: 640px) and (orientation: portrait) {

  .trends-articles {
    flex-direction: column;
  }

  .trend {
    width: 100%;
    margin-top: 3px;
  }

  .trend:first-child {
    margin-top: 0;
  }


  .products-articles {
    flex-direction: column;
  }

}
